body
{
  background-image: url("fondecran.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:grey;
}

nav
{
  margin-top: 5%;
  position: fixed;
  width: 20%;
  margin-left: 55%;
  border: 2px solid grey;
  border-radius: 10px;
  background-color:white;

}

nav li
{
list-style-type: none;
display: inline;
padding: 0.5em;
}

nav li a {
  border: 2px solid black;
  display: inline;
  padding: 0.6em;
  border-radius: 10px;
  text-decoration: none;
  color:black;
  font-weight: bold;
}

nav li a:hover
{
background-color: rgba(0, 0, 0, 0.6);
}

nav li a:focus
{
  color:black;
}

.base
{
  margin-left: 25%;
  margin-top: 5%;
}

.base a
{
  color:white;
}


.base
{
  text-transform: uppercase;
  font-weight: bold;
}

span
{
  padding: 10px;
  border:2px solid white;
  background-color: white;
  color:black;
  border-radius: 5px;
}

span:hover
{
  background-color: rgba(0, 0, 0, 0.2);
}

.debut
{
  color:grey;
  font-weight: bold;
  font-size: 40px;
  font-family: monospace;
  border: 1px solid white;
  text-align: center;
}

.debut a
{
  margin-left: 25%;
  color:white;
}

.debut a:focus
{
  color:blue;
}
